body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
   /* background-color: #DEB888; */
   background: linear-gradient(135deg, #DEB888, #e7b578, #ddaf77, #f0ddc5);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fortune {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4rem;
    font-style: normal;
    text-align: center;
    line-height: 1.6;
}

.fortunePaper {
    height: 15rem;
    width: 100%;
    max-width: 40rem;
    background-color: #F1E9D2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.luckyNumbers {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #b91b36;
}

@media (max-width: 768px) {
    .fortunePaper {
        height: 10rem;
        width: 90%;
    }
    .fortune {
        font-size: 2.75rem;
    }
    .luckyNumbers {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .fortunePaper {
        height: 12rem;
        max-width: 95%;
    }
    .fortune {
        font-size: 2.5rem;
    }
    .luckyNumbers {
        font-size: 1rem;
    }
}